body {
  background: #333 url('../stardust.png');
  font: 1.5em 'VT323', normal;
  letter-spacing: 0.1em;
  color:white;
}

.signature {
  color: #BBB;
  font: 1em 'Cutive+Mono', monospace;
  padding: 1em;
}

.about {
  position: relative;
  display: block;
  font-size: 1.5em;
  color: #FFF;
  background: #000;
  width: 100%;
  box-sizing: border-box;
}

.menu-button {
  text-align: center;
  vertical-align: middle;
}

.menu-button:hover {
  text-decoration: none;
  cursor: pointer;
}

.menu-button-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: clip-path 0.3s;
  clip-path: inset(0 50% 0 50%);
  background: url('../bg.png');
}

.menu-button:hover > .menu-button-bg {
  /*background: url('../bg.png') repeat-x;*/
  transition: clip-path 0.3s, transform 5s;
  clip-path: inset(0 0 0 0);
  transform: rotate(0deg);
}

.menu-button:hover > .menu-button-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: url('../bg.png') repeat-x;
  animation: background-scroll 1s alternate infinite;
}

.menu-button-text {
  text-decoration: none;
  text-shadow: 2px 1px 1px rgba(255,255,255,0.1);
  color: #000;
  font: 7em 'VT323', monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: transform 0.1s;
  transform: scale(1,1);
  user-select: none;
}

.menu-button-text:hover {
  text-decoration: none;
  color: rgba(215,215,215,0.8);
  transform: scale(1.1,1);
  transition: transform 6s ease-out, color 0.6s;
}

@keyframes background-scroll {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 10%; }
}